body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f5f5f5;
    margin: 0px;
  }

  header {
    background-color: rgb(256,256,256,.92);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    box-shadow: 4px 8px 32px rgb(0,0,0,.04);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 16px 24px ;
    float: inline-start;
  }
  
    .info {
      max-width: 510px;
      height: min-content;
      display: inline-flex;
      align-items: baseline;
      float: inline-start;
    }
  
    nav {
      background-color: transparent;
      color: #212121;
      border-radius: 48px;
      height: fit-content;
      max-width: 510px;
      float: right;
      display: inline-flex;
      align-items: baseline;
      margin: 0px 24px;
    }
  
    nav li {
      padding: 12px;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      min-width: auto;
      cursor: pointer;
    }
  
    nav li:hover {
      background-color: rgb(0,0,0,.04);
      border: rgb(0,0,0,.04);
      border-radius: 24px;
    }
  
    nav li:active {
      background-color: rgb(0,0,0,.12);
      border: rgb(0,0,0,.12);
      border-radius: 24px;
    }
  
    #hamburger-menu .icon {
      width: 32px;
      height: 32px;
    }
  
  .icon {
    width: 16px;
    height: 16px;
    padding: 0px 4px;
    margin: 0px 4px;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: rgb(0,0,0,.04);
    border: rgb(0,0,0,.04);
    border-radius: 24px;
  }
  
  .icon:active {
    background-color: rgb(0,0,0,.12);
    border: rgb(0,0,0,.12);
    border-radius: 24px;
  }
     
    h1.name {
      color: #292830;
      font-weight: 300;
      font-size: 32px;
      width: fit-content;
      line-height: normal;
      margin: 0px;
    }
     
    a {
      text-decoration: none;
      padding: 0px;
      height: 0px;
      width: 0px;
    }
  
    p {
      font-size: 14px;
      line-height: 24px;
      margin: 0px 12px;
      width: fit-content;
    }
  

.content {
  position: relative;
  top: 64px;
  height: auto;
  width: 1040px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  column-gap: 24px;
  justify-content: center;
  margin: auto;
}

    /* Style the list */
  ul.breadcrumb {
    padding: 10px 16px;
    width: fit-content;
    list-style: none;
    background-color: transparent;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .row {
    width: auto;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0px 0px 120px 0px;
    justify-content: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
    height: auto;
  }

  .scrollspy {
    position: fixed;
    top: 120px;
    display: grid;
    grid-template-rows: repeat(3,fit-content);
    grid-auto-rows: fit-content;
    width: fit-content;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 24px 0px;
  }

  .list {
    width: fit-content;
    height: fit-content;
    padding: 6px 12px;
    margin: 12px 0px;
  }

  .list:hover {
    background-color: rgb(0,0,0,.04);
    border: 1px solid transparent;
    border-radius: 24px;
  }


  /* responsive */
  @media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .content {
      margin: 0px 200px;
      width: auto;
      top: 80px;
    }
  }

  @media only screen and (min-width: 905px) and (max-width: 1239px) {
    .content {
      margin: auto;
      width: 840px;
      grid-template-columns: 1fr;
      column-gap: 0px;
      top: 80px;
    }

    .breadcrumb, .scrollspy, nav {
      display: none;
    }

    header {
      grid-template-columns: 66px 180px 22px;
      grid-template-rows: 32px 32px;
      column-gap: 24px;
      row-gap: 24px;
      margin: auto;
      height: auto;
      justify-content: center;
      align-items: baseline;
    }

    nav {
      grid-area: 2/1/span 1/span 3;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 904px) {
    .content {
      column-gap: 16px;
      margin: 32px;
      width: auto;
      grid-template-columns: 1fr;
      column-gap: 0px;
    }

    .breadcrumb, .scrollspy, nav {
      display: none;
    }

    header {
      grid-template-columns: 66px 180px 22px;
      grid-template-rows: 32px 32px;
      column-gap: 24px;
      margin: auto;
      justify-content: center;
      align-items: baseline;
      height: auto;
    }

    nav {
      grid-area: 2/1/span 1/span 3;
    }
    
  }


  @media only screen and (max-width: 599px) {
  .content {
    margin: 16px;
    width: auto;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .breadcrumb, .scrollspy, nav {
    display: none;
  }
}


