body {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
  }
  
  h1 {
    font-size: 24px;
    font-weight: Medium;
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    position: relative;
    top: 24px;
    left: 24px;
  }
  
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  li {
    font-size: 16px;
    font-weight: normal;
  }
  
  .color-block {
    margin: 0px;
    padding: 0px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    top: 24px;
    left: 24px;
    height: 400px;
    overflow: scroll;
  }
  
  .color-block li {
    display: inline-block;
    color: white;
    padding: 24px;
    margin: 12px;
    height: 40px;
    width: 90px;
    font-weight: normal;
    font-size: 14px;
    border-radius: 8px;
  }
  
  #primary {
    background-color: #0034F0;
  }
  
  #title-text {
    background-color: #212121;
  }
  
  #primary-text {
    background-color: #424242;
  }
  
  #secondary-text {
    background-color: #757575;
  }
  
  #border {
    background-color: #E0E0E0;
    color: black;
  }
  
  #background {
    background-color: F5F5F5;
    color: black;
    border: 2px solid #E0E0E0;
  }
  
  #hover {
    background-color: rgb(256,256,256,0.04);
    color: black;
    border: 2px solid #E0E0E0;
  }
  
  #focused {
    background-color: rgb(256,256,256,0.12);
    color: black;
    border: 2px solid #E0E0E0;
  }
  
  #selected {
    background-color: rgb(0,52,240,0.08);
    color: black;
    border: 2px solid #E0E0E0;
  }
  
  #active {
    background-color: rgb(0,52,240,0.12);
    color: black;
    border: 2px solid #E0E0E0;
  }
  
  .font {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
  }
  
  .font li {
    color: black;
    padding: 12px;
    margin: 12px;
  }
  
  #h1 {
    font-size: 24px;
  }
  
  #h2 {
    font-size: 20px;
  }
  
  #body1 {
    font-size: 16px;
    font-weight: normal;
  }
  
  #body2 {
    font-size: 14px;
    font-weight: normal;
  }
  
  #button1 {
    font-size: 14px;
    transform: uppercase;
  }
  
  #button2 {
    font-size: 14px;
  }
  
  #caption {
    font-size: 12px;
    font-weight: normal;
  }
  
  
  